<?php $order = $this->getOrder();
$statusRenderer = Mage::getBlockSingleton('accolade_omni/adminhtml_renderer_order_export_status');
$exportDate = $order->getExportDate();
if (!empty($exportDate)) {
    $exportDate = $this->formatDate($exportDate, 'medium', true);
} else {
    $exportDate = $this->__('Not sent yet');
} ?>
<div class="box-right">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-omni-order"><?php echo $this->__('Omni Order Export'); ?></h4>
        </div>
        <fieldset>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo $this->__('Export Status') ?></label></td>
                    <td class="value">
                        <div style="max-width: 200px;"
                             title="<?php echo $this->escapeHtml($exportDate) ?>"><?php echo $statusRenderer->render($order) ?></div>
                    </td>
                </tr>
                <?php if ($order->getExportStatus() != $order::EXPORT_UNKNOWN): ?>
                    <?php if ($order->getNavOrderId()): ?>
                        <tr>
                            <td class="label"><label><?php echo $this->__('Nav Order ID') ?></label></td>
                            <td class="value"><strong><?php echo $order->getNavOrderId() ?></strong></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($order->getNavTransactionId()): ?>
                        <tr>
                            <td class="label"><label><?php echo $this->__('Nav Transaction ID') ?></label></td>
                            <td class="value"><strong><?php echo $order->getNavTransactionId() ?></strong></td>
                        </tr>
                    <?php endif; ?>
                    <?php if (!$order->isSuccessful()): ?>
                        <tr>
                            <td class="label"><label><?php echo $this->__('Last Message') ?></label></td>
                            <td class="value"><?php echo $order->getLastExportLog() ?></td>
                        </tr>
                    <?php endif; ?>
                <?php endif; ?>
            </table>
        </fieldset>
    </div>
</div>