<?php
?>
<div class="box-head">
	<h2><?php echo $this->__('Contact Information') ?></h2>
	<a href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('Edit') ?></a>
</div>
<div class="col2-set">
    <div class="col-1">
        <div class="box">
            <div class="box-title">
                <h3><?php echo $this->__('Personal Information') ?></h3>
            </div>
            <div class="box-content">
                <p>
                    <?php echo $this->escapeHtml($this->getCustomer()->getName()) ?><br />
                    <?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?><br />
                    <?php if ($this->getCustomer()->getPhoneNumber()): ?>
                        <?php echo $this->escapeHtml($this->getCustomer()->getPhoneNumber()) ?><br />
                    <?php endif; ?>
                    <a href="<?php echo $this->getChangePasswordUrl() ?>"><?php echo $this->__('Change Password') ?></a>
                </p>
            </div>
        </div>
	</div>
    <div class="col-2">
        <div class="box">
            <div class="box-title">
                <h3><?php echo $this->__('Contact Address') ?></h3>
            </div>
            <div class="box-content">
                <address>
                    <?php echo $this->getContactAddressHtml() ?>
                </address>

                <?php
                    $_contactAddressId = $this->getCustomer()->getDefaultContact();
                    $_billingAddressId = $this->getCustomer()->getDefaultBilling();
                    $_shippingAddressId = $this->getCustomer()->getDefaultShipping();

                    $_contactIsBilling = $_contactIsShipping = false;
                    if($_contactAddressId && $_contactAddressId == $_billingAddressId) $_contactIsBilling = true;
                    if($_contactAddressId && $_contactAddressId == $_shippingAddressId) $_contactIsShipping = true;
                ?>

                <?php if($_contactIsBilling): ?><div><strong><?php echo Mage::helper('accolade_omni')->__('This is your default billing.'); ?></strong></div><?php endif; ?>
                <?php if($_contactIsShipping): ?><div><strong><?php echo Mage::helper('accolade_omni')->__('This is your default shipping.'); ?></strong></div><?php endif; ?>
            </div>
        </div>
    </div>
</div>
