.export-order-log-error {
    background: #f2acac;
    padding: 2px 5px;
    margin: 2px 0;
}

.export-order-log-success {
    background: #b2f2a9;
    padding: 2px 5px;
    margin: 2px 0;
}

.export-order-log-notice {
    background: #f7e485;
    padding: 2px 5px;
    margin: 2px 0;
}