<?php
$_contactAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultContact();
$_billingAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();
$_shippingAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping();

$count = 3;
$cols = 1;
$_contactIsBilling = $_contactIsShipping = false;
if($_contactAddressId){
	if($_contactAddressId == $_billingAddressId){
		$_contactIsBilling = true;
		$count--;
	}
	if($_contactAddressId == $_shippingAddressId){
		$_contactIsShipping = true;
		$count--;
	}
}
$billingAddress = $shippingAddress = false;
if($_billingAddressId){
	$billingAddress = Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_billingAddressId);
}
if($_shippingAddressId){
	$shippingAddress = Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_shippingAddressId);
}
?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Address Book') ?></h1>
    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add New Address')) ?>" class="button" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><span><?php echo $this->__('Add New Address') ?></span></span></button>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="col<?php echo $count; ?>-set addresses-list">
	<h2><?php echo $this->__('Default Addresses') ?></h2>

	<?php //for($i = 1; $i <= $count; $i++): ?>
    <div class="col-<?php echo $cols++; ?> addresses-primary">
		<ul>
			<li class="item">
				<h3><?php echo $this->__('Contact Address') ?></h3>

	            <?php if($_contactAddressId): ?>
                    <address>
                        <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_contactAddressId)) ?>
                    </address>
                    <p>
	                    <a href="<?php echo $this->getUrl('customer/account/edit') ?>" title="<?php echo $this->__('Edit Contact Details') ?>">
		                    <?php echo $this->__('Edit Contact Details') ?>
	                    </a>
                    </p>


		            <div>
		            <?php if($_contactIsBilling): ?>
			            <strong><?php echo Mage::helper('accolade_omni')->__('This is your default billing.'); ?></strong>
		            <?php /*else: ?>
			            <a href="<?php echo $this->getUrl('customer/account/useAddressAs', array('id' => $_contactAddressId, 'type' => 'billing')) ?>" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('customer')->__('Use as my default billing address')) ?>">
				            <?php echo Mage::helper('core')->quoteEscape(Mage::helper('customer')->__('Use as my default billing address')) ?>
			            </a>
		            <?php*/ endif; ?>
		            </div>

					<div>
		            <?php if($_contactIsShipping): ?>
			            <strong><?php echo Mage::helper('accolade_omni')->__('This is your default shipping.'); ?></strong>
		            <?php /*else: ?>
						<a href="<?php echo $this->getUrl('customer/account/useAddressAs', array('id' => $_contactAddressId, 'type' => 'shipping')) ?>" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('customer')->__('Use as my default shipping address')) ?>">
			                <?php echo Mage::helper('core')->quoteEscape(Mage::helper('customer')->__('Use as my default shipping address')) ?>
			            </a>
		            <?php*/ endif; ?>
                    </div>

	            <?php else: ?>
		            <?php echo $this->__('You have not set a default contact address') ?>
	            <?php endif ?>
			</li>
		</ul>
    </div>

	<?php if(!$_contactIsBilling): ?>
	<div class="col-<?php echo $cols++; ?> addresses-primary">
		<ul>
			<li class="item">
				<h3><?php echo $this->__('Default Billing Addresses') ?></h3>

	            <?php if($billingAddress && $billingAddress->getId()): ?>
                    <address>
                        <?php echo $this->getAddressHtml($billingAddress) ?>
                    </address>
		            <p><a href="<?php echo $this->getAddressEditUrl($billingAddress) ?>"><?php echo $this->__('Change Billing Address') ?></a></p>
	            <?php else: ?>
		            <?php echo $this->__('You have not set a default billing address') ?>
	            <?php endif ?>
			</li>
		</ul>
	</div>
	<?php endif; ?>

	<?php if(!$_contactIsShipping): ?>
	<div class="col-<?php echo $cols++; ?> addresses-primary">
		<ul>
			<li class="item">
				<h3><?php echo $this->__('Default Shipping Addresses') ?></h3>

	            <?php if($shippingAddress && $shippingAddress->getId()): ?>
                    <address>
                        <?php echo $this->getAddressHtml($shippingAddress) ?>
                    </address>
		            <p><a href="<?php echo $this->getAddressEditUrl($shippingAddress) ?>"><?php echo $this->__('Change Shipping Address') ?></a></p>
	            <?php else: ?>
		            <?php echo $this->__('You have not set a default shipping address') ?>
	            <?php endif ?>
			</li>
		</ul>
	</div>
	<?php endif; ?>

</div>


<div class="col1-set addresses-list">

    <div class="col-1 addresses-additional">
        <h2><?php echo $this->__('Additional Address Entries') ?></h2>
        <ul>
        <?php if($_addresses = $this->getAdditionalAddresses()): ?>
	        <?php /** @var Mage_Customer_Model_Address $_address */ ?>
            <?php foreach($_addresses as $_address): ?>
            <li class="item">
                <address>
                    <?php echo $this->getAddressHtml($_address) ?>
                </address>
                <p><a href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>"><?php echo $this->__('Edit Address') ?></a> <span class="separator">|</span> <a href="#" class="link-remove" onclick="return deleteAddress('<?php echo $_address->getId() ?>');"><?php echo $this->__('Delete Address') ?></a></p>
            </li>
            <?php endforeach; ?>
        <?php else: ?>
            <li class="item empty">
                <p><?php echo $this->__('You have no additional address entries in your address book.') ?></p>
            </li>
        <?php endif ?>
        </ul>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Are you sure you want to delete this address?')) ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>
